extends menu

block content
  .side
   | #{user}
  .content
   img(src="/img/loading.gif", style="width:20px;margin-top:200px;margin-left:450px;")
  script
   $('.menu').click(function(event){$('.menu').css('border','0px');$(this).css('border-top','5px solid orange');});