extends layout

block menu
 body.app.no-select(ng-app="app",ng-controller="controller")
  header.app
     a(href="/").menu Inicio
     span.dropdown
        span(data-toggle='dropdown').dropdown-toggle.menu
         img(src="/img/database.png", style="width:14px;margin-top:-5px;margin-right:5px;")
         |Bases
        ul.dropdown-menu
          li.dropdown-submenu
           a(href='#') Transporte
           ul.dropdown-menu
            li: a(tabindex="-1", href="/bases/choferes")  Choferes
            li: a(tabindex="-1", href="/bases/camiones")  Camiones
            li: a(tabindex="-1", href="/bases/acoplados")  Acoplados
          li: a(href='/bases/depositos') Depositos
     span.dropdown
        span(data-toggle='dropdown').dropdown-toggle.menu Operaciones
        ul.dropdown-menu
          li.dropdown-submenu
           a(href='#') Transporte
           ul.dropdown-menu
            li: a(tabindex="-1", href="#")  Choferes
            li: a(tabindex="-1", href="/camiones")  Camiones
          li: a(href='#') Productos
     span.dropdown
        span(data-toggle='dropdown').dropdown-toggle.menu Administración
        ul.dropdown-menu
          li.dropdown-submenu
           a(href='#') Transporte
           ul.dropdown-menu
            li: a(tabindex="-1", href="#")  Choferes
            li: a(tabindex="-1", href="/camiones")  Camiones
          li: a(href='#') Productos
      span.dropdown
        span(data-toggle='dropdown').dropdown-toggle.menu
         img(src="/img/configuracion.png",style="width:15px;")
         |  Configuración
        ul.dropdown-menu
          li
           a(href='/parametros')
            img(src="/img/database.png", style="width:14px;margin-top:-5px;margin-right:5px;")
            |Parámetros
          li
           a(href='/mis-datos')
            img(src="/img/user.png", style="width:14px;margin-top:-5px;margin-right:5px;")
            |Mis datos
      a(href="/logout").menu Salir
